html {
	font-size: 10px;
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
}
body {
	font-family: "Lato", "Arial", sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	max-width: 1020px;
	margin:0 auto;
}
nav {
	display: inline-block;
	height: 89px;
	width: 596px;
	padding-top: 30px;
	box-sizing: border-box;
}
h1 {
	display: inline-block;
	width: 340px;
	font-size: 2.5rem;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
}
h2 {
	font-size: 3rem;
	line-height: 18px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.006em;
	margin: 0;
}
h3{
	font-size: 1.8rem;
	line-height: 17px;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01em;
	margin: 0;
}
p{
	margin: 0;
}
.wrapper {
	max-width: 940px;
	margin:0 auto;
}
.layouts-4-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 621px;
	overflow: hidden;
}
.header {
  height: 95px;
  background: #2d303a;
  color: #ffffff;
}
.flex{
	display: flex;
	align-items: center;
}
a:link {
	color: #fff;
	text-decoration: none;
}

.logo span {
	color: #f06c64;
}
header div.color {
  background: #323746;
}
div.line {
  height: 6px;
}
ul.navigation {
  display: flex;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  padding-inline-start: 0px;
  list-style-type: none;
}
.navigation > li + li:before {
	content: "\00B7";
	color: #666d89;
	font-weight: bold;
	display: inline-block;
	width: 16px;
	padding-left: 12px;
}
.navigation > li.first {
	 margin-left: auto;
}
a:visited{
	color : #ffffff;
}
li > a.active{
	color:#ea676b;
}
.navigation > li :hover {
	color:#ea676b;
	text-decoration: underline;
}
section.slider {
	height: 600px; 
}
.slider-container{
	position: relative;
	height: 594px;
}
.slider__item{
	height: 100%;
	width: 100%;
}
.display-off1  {
	display: none;
	position: absolute;
	height: 334px;
	width: 190px;
	top: 117px;
	left: 125px;
	border-radius: 4px;
	background-color: black;
}
.display-off2  {
	display: none;
	position: absolute;
	height: 190px;
	width: 335px;
	top: 187px;
	left: 484px;
	border-radius: 4px;
	background: black;
}
.iphone-btn1{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	left: 194px;
    bottom: 87px;
}
.iphone-btn2{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	left: 430px;
    bottom: 288px;
}
.slider-color	{
	background: #f06c64;
	height: 594px;
}
section.slider div.color {
	background: #ea676b;
}
.slider__content {
	width: 100%;
	height: 594px;
	position: absolute;
}
section.slider .slider__img-vertical {
    position: absolute;
    left: 112px;
    top: 53px;
}
section.slider .slider__img-horizontal {
    position: absolute;
    right: 111px;
    top: 174px;
}
.slider__chev-prev {
	display: inline-block;
	background-image: url(./assets/chev_prev.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 16px;
    height: 27px;
    position: absolute;
    top: 281px;
    left: 42px;
}
.slider__chev-next {
	display: inline-block;
	background-image: url(./assets/chev_next.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 16px;
    height: 27px;
    position: absolute;
    right: 40px;
    top: 281px;
}
.slider__chev-prev:hover {
	background-image: url(./assets/svg/chev_prev.svg);
	background-color: #f0d8d9;
	transition: 0.3s;
	cursor: pointer;
}
.slider__chev-next:hover {
	background-image: url(./assets/svg/chev_next.svg);
	background-color: #f0d8d9;
	transition: 0.3s;
	cursor: pointer;
}

section.service {
	height: 500px;
	background: #f2f2f2;
}
.service__title{
	padding-top: 25px;
	padding-bottom: 27px;
}
section.service div.color {
	background: #ffffff;
}
section.service .service-content {
	height: 494px;
}
.service div.service__description {
	height: 219px;
	padding-top: 43px;
	box-sizing: border-box;
}
div.service__description p {
	width: 940px;
	height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	text-align: justify;
	margin: 0;
}
div.layout-3-column {
	display: flex;
	justify-content: space-between;
}
div.layout-3-column .our-service {
	flex-basis: 300px;
}
div.layout-3-column .our-service__name {
	display: flex;
	justify-content: space-between;
}
div.our-service__name .our-service__img {
	flex-basis: 60px;
	height: 123px;
	vertical-align: top;
	box-sizing: border-box;
	padding-top: 1px;
}
div.our-service__name .first-col-img {
	padding-left: 1px;
}
div.our-service__name .our-service__info {
	flex-basis: 220px;
	vertical-align: top;
}
p.our-service__desc {
	font-size: 1.2rem;
	line-height: 21px;
	color: #767e9e;
	font-weight: 500;
	text-align: justify;
    margin-top: 10px;
}
.portfolio {
	background: #2d303a;
	height: 870px;
}

.portfolio__content {
	height: 864px;
}
.portfolio__title{
	padding-top: 69px;
	padding-bottom: 26px;
}
.portfolio__description{
	width: 940px;
	font-family: "Lato";
	font-size: 1.8rem;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	margin: 0;
	padding-top: 1px;
}
.portfolio__tags {
	display: flex;
	padding-top: 11px;	
	padding-bottom: 19px;
	margin-left: 1px;
	text-align: justify;
}
.portfolio__tags :first-child{
	padding-left: 7px;
}
.portfolio__tags :last-child{
	margin-left: 9px;
}

.portfolio__tags > div + div {
	margin-left: 10px;
}
.tag{
	font-size: 1.2rem;
	line-height: 20px;
	color: #767e9e;
	font-weight: 400;
	cursor: pointer;
	padding: 0px 6px;
	border-radius: 5px;
	
}
.tag:hover{
	text-decoration: underline;
	color: #ffffff;
}
.tag_bordered {
	border: 1px solid #666d89;
}
.tag_selected {
	border: 1px solid #c5c5c5;
	color: #dedede;
}
.portfolio .line_color {
	background: #323746;
}
.portfolio__image {
	cursor: pointer;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 220px;
	height: 187px;
	overflow: hidden;
}
.portfolio__image-bordered{
	border: #F06C64 solid 5px;
}
.about-us {
	background: #f2f2f2;
	height: 735px;
}
.about-us .wrapper{
	height: 728px;
}
.about-us__title {
	padding-top: 68px;
	padding-bottom: 27px;
}
.about-us__description{
	width: 940px;
	font-family: "Lato";
	font-size: 1.8rem;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	margin: 0;
  	text-align: justify;
}

.layouts-3-column {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}
.employee__name{
	padding-top: 16px;
	padding-bottom: 12px;
	line-height: 0.8em;
}
.employee__text {
	width: 300px;
	font-size: 1.2rem;
	line-height: 21px;
	color: #767e9e;
	font-weight: 400;
	margin-bottom: 24px;
	text-align: justify;
	margin-top: 0px;
}
.text_decor {
    word-spacing: -1px;
}
.social-medias > * {
	display: inline-block;
}
.social-medias > div + div {
	margin-left: 5px;
}

.ico-facebook {
	background-image: url(./assets/icon/Facebook.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-facebook:hover {
	background-image: url(./assets/svg/Facebook.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-google {
	background-image: url(./assets/icon/Google.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-google:hover {
	background-image: url(./assets/svg/Google.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-twitter {
	background-image: url(./assets/icon/Twitter.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-twitter:hover {
	background-image: url(./assets/svg/Twitter.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-linkedin {
	background-image: url(./assets/icon/LinkedIn.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-linkedin:hover {
	background-image: url(./assets/svg/LinkedIn.svg);
	background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.about-us .line_color {
	background: #ffffff;
}
.contact-us{
	background: #f06c64;
}
input,textarea{
	width: 619px;
	font-size: 1.2rem;
	line-height: 14px;
	border-radius: 5px;
	background-color: #d6564f;
	border: none;
	font-family: "Lato";
	color: #f48c8f;
	padding: 10px 14px 11px;
}
input{
	height: 38px;
	margin-bottom: 16px;
}
textarea{
	height: 202px;
	resize: none;
	padding: 11px 14px 13px;
	margin-bottom: 16px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: #f48c8f;
} 
input::-moz-placeholder, textarea::-webkit-input-placeholder {
	color: #f48c8f;	
}
.contact-us__title{
	color: #f0d8d9;
	font-weight: 900;
	text-align: justify;
	padding-top: 68px;
}
.contact-us__text{
	width: 940px;
	font-size: 1.8rem;
	line-height: 30px;
	color: #f0d8d9;
	font-weight: 300;
	text-align: justify;
	padding-bottom: 44px;
	padding-top: 27px;
}
.layouts-2-column{
	display: flex;
	justify-content: space-between;
}
.contact-us__register{
	margin-bottom: 15px;
}
.contact-us__form{
	position: relative;
	flex-basis: 620px;
}
.contact-us__form .submit{
	border: none;
	background: #d6564f;
	font-family: "Lato";
	border-radius: 5px;
	padding: 9px;
	color:#f0d8d9;
	cursor: pointer;
}
.contact-us__form .submit:hover{
	text-decoration: underline;
	color:#ffffff;
}
.hidden{
	display: none;
}
.message-block{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0008;
}
.message{
	position: absolute;
	width: 250px;
	height: 150px;
	top: 40%;
	left: 30%;
	line-height: 26px;
	border: #2d303a solid 2px;
	text-align: left;
	overflow: hidden;
	background: #fff;
}
.close-contact-btn{
	position: absolute;
	bottom: 18%;
	left: 50%;
}
.contact-us__information{
	flex-basis: 300px;
}
.contact-us__inform-title{
	color: #f0d8d9;
	font-weight: 900;
	text-align: left;
	padding-top: 2px;
}
.contact-us__information p{
	width: 300px;
	font-size: 1.2rem;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	text-align: left;
}
.contact-us__description{
	padding: 12px 0px 19px;
	letter-spacing: -0.004em;
	line-height: 21px;
	text-align: justify;
}
.ico-location {
	display: inline-block;
	background-image: url(./assets/icon/location.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 11px;
	vertical-align: middle;
}
.ico-phone {
	display: inline-block;
	background-image: url(./assets/icon/phone.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 11px;	
}
.ico-mail {
	display: inline-block;
	background-image: url(./assets/icon/mail.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 8px;
}
.contact-us__information a{
	display: inline-block;
	text-decoration: none;
	color: #f0d8d9;
	font-family: "Lato";
	margin-left: 7px;
	vertical-align: middle;
}
.contact-us__information a.link-phone{
	vertical-align: top;
}
.contact-us__information a.link-mail{
	vertical-align: top;
}
section.contact-us div.color {
	background: #ea676b;
}
.footer{
	background: #2d303a;
}
.footer__content{
	padding: 22px 0px 19px;
	align-items: center;
}
.copy{
	margin-top: -4px;
	font-weight: 400;
	color: #666d89;
	font-size: 1.2rem;
	word-spacing: -0.06em;
	letter-spacing: -0.001em;
	margin-left: 1px;
}