html {
	font-size: 10px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
}
body {
	font-family: "Lato", "Arial", sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	max-width: 1020px;
	margin:0 auto;
	
}
nav {
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 30px;
	box-sizing: border-box;
	flex-basis: 70%;
}
h1 {
	display: inline-block;
	font-size: 2.5rem;
    line-height: 0.6rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
}
h2 {
	font-size: 3rem;
	line-height: 1.8rem;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.006em;
	margin: 0;
}
h3{
	font-size: 1.8rem;
	line-height: 1.7rem;
	color: #666d89;
	font-weight: 900;
	letter-spacing: -0.01em;
	margin: 0;
}
p{
	margin: 0;
}
.wrapper {
	padding: 0 40px;
}

.burger-menu {
    display: none;
}
.burger-item {       
	width: 25px;
	height: 2.4px;
	background: #F6F6F7;
	border-radius: 5px;
	margin: 6.4px;
}
.logo{
	flex-basis: 30%;
}
.layout-2-column {
	display: flex;
	justify-content: space-between;
}
.layout-3-column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.layout-4-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

/* header */


header {
	height: 95px;
}
.fixed{
	height: 95px;
	position: fixed;
	background: #2d303a;
	color: #ffffff;
	z-index: 2;
	width: 1020px;
	padding: 0 40px;
	border-bottom: 6px solid #323746;
}
.header__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: 89px;
}
a:link {
	color: #fff;
	text-decoration: none;
}

.logo span {
	color: #f06c64;
}
.header__navigation{
	width: 100%;
}
ul.navigation {
  display: flex;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  padding-inline-start: 0px;
  list-style-type: none;
}
.navigation > li + li:before {
	content: "\00B7";
	color: #666d89;
	font-weight: bold;
	display: inline-block;
	width: 16px;
	padding-left: 12px;
}
.navigation > li.first {
	 margin-left: auto;
}
a:visited{
	color : #ffffff;
}
li > a.active{
	color:#ea676b;
}
.navigation > li :hover {
	color:#ea676b;
	text-decoration: underline;
}

/* slider */


.slider__container{
	position: relative;
	height: 594px;
	overflow: hidden;
}
.slider__content {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
  	left: 0;
  	margin: 0;
  	padding: 0;
	list-style: none;
	display: flex;  
}
.slider__item{
	flex: 1 0 100%;
	position: relative;
	height: 100%;
  	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.slider__item img{
	width: 100%;
	height: 100%;
}
.slider_color	{
	background: #f06c64;
}
.display-off1  {
	display: none;
	position: absolute;
	height: 334px;
	width: 190px;
	top: 19.8%;
	left: 12.3%;
	border-radius: 4px;
	background-color: black;
}
.display-off2  {
	display: none;
	position: absolute;
	height: 190px;
	width: 335px;
	top: 31.4%;
	right: 19.7%;
	border-radius: 4px;
	background: black;
}
.iphone-btn1{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	left: 19.1%;
	bottom: 14.7%;
}
.iphone-btn2{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	left: 42.1%;
	bottom: 48.5%;
}
section.slider .color {
	background: #ea676b;
}
.slider__img-vertical {
    position: absolute;
    left: 11%;
	top: 9%;
	background-image: url(./assets/phone1.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 240px;
	height: 483px;
}
.slider__img-horizontal {
    position: absolute;
    right: 10.8%;
	top: 29.3%;
	background-image: url(./assets/phone2.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 483px;
	height: 240px;
}
.slider__chev-prev {
	display: inline-block;
	background-image: url(./assets/chev_prev.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 16px;
    height: 27px;
    position: absolute;
    top: 47.3%;
    left: 3.9%;
}
.slider__chev-next {
	display: inline-block;
	background-image: url(./assets/chev_next.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 16px;
    height: 27px;
    position: absolute;
    right: 3.9%;
    top: 47.3%;
}
.slider__chev-prev:hover {
	background-image: url(./assets/svg/chev_prev.svg);
	background-color: #f0d8d9;
	transition: 0.3s;
	cursor: pointer;
}
.slider__chev-next:hover {
	background-image: url(./assets/svg/chev_next.svg);
	background-color: #f0d8d9;
	transition: 0.3s;
	cursor: pointer;
}

/*service*/

.service {
	background: #f2f2f2;
	border-bottom: 6px solid #fff;
}
.service__title{
	padding-bottom: 23px;
}
.service__description {
	padding-top: 60px;
	box-sizing: border-box;
	margin-bottom: 45px;
}
.service__description p {
	font-size: 1.8rem;
	line-height: 3rem;
	color: #767e9e;
	font-weight: 300;
	text-align: justify;
	margin: 0;
}
.our-service {
	flex-basis: 300px;
	display: flex;
	justify-content: space-between;
}
.service__container{
	padding-bottom: 30px;
}
.our-service__img {
	flex-basis: 60px;
	padding-bottom: 60px;
	vertical-align: top;
	box-sizing: border-box;
	padding-top: 1px;
}
.our-service__info {
	flex-basis: 220px;
	vertical-align: top;
	margin-left: 20px;
}
p.our-service__desc {
	font-size: 1.2rem;
	line-height: 2.1rem;
	color: #767e9e;
	font-weight: 500;
	text-align: justify;
    margin-top: 10px;
}

/*portfolio*/

.portfolio {
	background: #2d303a;
	border-bottom: 6px solid #323746;
}
.portfolio .wrapper{
	padding: 0 30px;
}
.portfolio__title{
	padding-top: 69px;
	padding-bottom: 26px;
	margin-left: 10px;
}
.portfolio__description{
	font-family: "Lato";
	font-size: 1.8rem;
	line-height: 3rem;
	color: #767e9e;
	font-weight: 300;
	margin: 0;
	padding-top: 1px;
	margin-left: 10px;
}
.portfolio__tags {
	display: flex;
	padding-top: 11px;	
	padding-bottom: 19px;
	text-align: justify;
	margin-left: 10px;
}
.portfolio__tags :first-child{
	padding-left: 7px;
}
.portfolio__tags :last-child{
	margin-left: 9px;
}

.portfolio__tags > div + div {
	margin-left: 10px;
}
.tag{
	font-size: 1.2rem;
	line-height: 2rem;
	color: #767e9e;
	font-weight: 400;
	cursor: pointer;
	padding: 0px 6px;
	border-radius: 5px;
	
}
.tag:hover{
	text-decoration: underline;
	color: #ffffff;
}
.tag_bordered {
	border: 1px solid #666d89;
}
.tag_selected {
	border: 1px solid #c5c5c5;
	color: #dedede;
}
ul{
	padding: 0px;
	margin: 0px;
}

.portfolio__container{
	margin-bottom: 55px;
}
.portfolio__container li{
	list-style: none;
	margin: 10px;
	flex: 1 0 20%;
}
.portfolio__container li::before{
	content: "";
	float: left;
	padding-top: 187px;
}
.portfolio__container div{
	height: 100%;
	width: 100%;
}
.portfolio__container img{
	height: 100%;
	width: 100%;
}
.portfolio__image-bordered{
	border: #F06C64 solid 5px;
}

/*about-us */

.about-us {
	background: #f2f2f2;
	border-bottom: 6px solid #fff;]
	
}
.about-us__container{
	padding-bottom: 65px;
}
.about-us__title {
	padding-top: 68px;
	padding-bottom: 27px;
}
.about-us__description{
	font-family: "Lato";
	font-size: 1.8rem;
	line-height: 30px;
	color: #767e9e;
	font-weight: 300;
	margin: 0;
  	text-align: justify;
}
.about-us__content{
	margin-top: 45px;
}
.employee{
	flex-basis: 32%;
}
.employee-img{
	width: 100%;
}
.employee-img img{
	width: 100%;
}
.employee__name{
	padding-top: 16px;
	padding-bottom: 12px;
	line-height: 0.8em;
}
.employee__text {
	font-size: 1.2rem;
	line-height: 2.1rem;
	color: #767e9e;
	font-weight: 400;
	margin-bottom: 24px;
	text-align: justify;
	margin-top: 0px;
}
.social-medias > * {
	display: inline-block;
}
.social-medias > div + div {
	margin-left: 5px;
}

.ico-facebook {
	background-image: url(./assets/icon/Facebook.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-facebook:hover {
	background-image: url(./assets/svg/Facebook.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-google {
	background-image: url(./assets/icon/Google.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-google:hover {
	background-image: url(./assets/svg/Google.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-twitter {
	background-image: url(./assets/icon/Twitter.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-twitter:hover {
	background-image: url(./assets/svg/Twitter.svg);
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
.ico-linkedin {
	background-image: url(./assets/icon/LinkedIn.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
	border: 1px solid #666d89;
}
.ico-linkedin:hover {
	background-image: url(./assets/svg/LinkedIn.svg);
	background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

/*contact-us*/

.contact-us{
	background: #f06c64;
	border-bottom: 6px solid #ea676b;
}
.contact-us__container{
	padding-bottom: 40px;
}
input,textarea{
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.4rem;
	border-radius: 5px;
	background-color: #d6564f;
	border: none;
	font-family: "Lato";
	color: #f48c8f;
	padding: 10px 14px 11px;
}
input{
	height: 38px;
	margin-bottom: 16px;
}
textarea{
	height: 202px;
	resize: none;
	padding: 11px 14px 13px;
	margin-bottom: 16px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: #f48c8f;
} 
input::-moz-placeholder, textarea::-webkit-input-placeholder {
	color: #f48c8f;	
}
.contact-us__title{
	color: #f0d8d9;
	font-weight: 900;
	text-align: justify;
	padding-top: 68px;
}
.contact-us__text{
	font-size: 1.8rem;
	line-height: 3rem;
	color: #f0d8d9;
	font-weight: 300;
	text-align: justify;
	padding-bottom: 44px;
	padding-top: 27px;
}
.layouts-2-column{
	display: flex;
	justify-content: space-between;
}
.contact-us__form{
	position: relative;
	flex-basis: 66%;
}
.contact-us__form .submit{
	border: none;
	background: #d6564f;
	font-family: "Lato";
	border-radius: 5px;
	padding: 9px;
	color:#f0d8d9;
	cursor: pointer;
}
.contact-us__form .submit:hover{
	text-decoration: underline;
	color:#ffffff;
}
.hidden{
	display: none;
}
.message-block{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0008;
}
.message{
	position: absolute;
	width: 250px;
	height: 150px;
	top: 40%;
	left: 30%;
	line-height: 26px;
	border: #2d303a solid 2px;
	text-align: left;
	overflow: hidden;
	background: #fff;
}
.close-contact-btn{
	position: absolute;
	bottom: 18%;
	left: 50%;
}
.contact-us__information{
	flex-basis: 32%;
}
.contact-us__inform-title{
	color: #f0d8d9;
	font-weight: 900;
	text-align: left;
	padding-top: 2px;
}
.contact-us__information p{
	font-size: 1.2rem;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	text-align: justify;
}
.contact-us__description{
	padding: 12px 0px 19px;
	letter-spacing: -0.004em;
	line-height: 21px;
	text-align: justify;
}
.ico-location {
	display: inline-block;
	background-image: url(./assets/icon/location.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 11px;
	vertical-align: middle;
}
.ico-phone {
	display: inline-block;
	background-image: url(./assets/icon/phone.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 11px;	
}
.ico-mail {
	display: inline-block;
	background-image: url(./assets/icon/mail.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 13px;
	height: 8px;
}
.contact-us__information a{
	display: inline-block;
	text-decoration: none;
	color: #f0d8d9;
	font-family: "Lato";
	margin-left: 7px;
	vertical-align: middle;
}
.contact-us__information a.link-phone{
	vertical-align: top;
}
.contact-us__information a.link-mail{
	vertical-align: top;
}

/*footer*/

.footer{
	background: #2d303a;
}
.footer__content{
	padding: 22px 0px 19px;
	align-items: center;
}
.copy{
	margin-top: -4px;
	font-weight: 400;
	color: #666d89;
	font-size: 1.2rem;
	word-spacing: -0.06em;
	letter-spacing: -0.001em;
	margin-left: 1px;
}

@media (max-width: 1019px)  {
	body {
		width: 100%;
	}
	.fixed{
		width: 100%;
	}
	.slider__img-vertical{
		background-image: url(./assets/phone-vertical.png);
		width: 180px;
		height: 363px;
	}
	.slider__img-horizontal{
		background-image: url(./assets/phone-horizontal.png);
		width: 363px;
		height: 180px;
	}
	.slider__container{
		height: 447px;
	}
	.service {
		border-bottom: none;
	}
	.service__description{
		padding-top: 40px;
		margin-bottom: 28px;
	}
	.our-service{
		margin-right: 34px;
	}
	.portfolio__container li::before{
		padding-top: 183px;
	}
	.portfolio__container li{
		flex: 1 0 23%;
	}
	.employee__name{
		padding-top: 16px;
		padding-bottom: 5px;
	}
	.employee__text{
		margin-bottom: 9px;
	}
	.about-us {
		border-bottom: none;
	}
	.about-us__container{
		padding-bottom: 70px;
	}
	.contact-us__title{
		padding-top: 53px;
	}
	.contact-us__text{
		padding-bottom: 19px;
	}

@media(max-width: 767px){	

body {
    width: 100%;
}
.wrapper {
	padding: 0 30px;
}
header {
	height: 71px;
}
.fixed {
	width: 100%;
	padding: 0px;
	height: 71px;
	border-bottom: none;
}
.header__content{
	height: 71px;
}
.navigation > li.first {
	margin-left: 0px;
}
.navigation > li + li:before{
	display: none;
}
.header__content {
	width: 65%;
	margin-left: 20px;
}
.burger-menu {
	display: block;
	z-index: 6;
	transition: all 0.5s;
} 
.burger-menu.active {
	transform: rotate(90deg);
	z-index: 5;
	transition: all 0.5s;
}
.header__navigation {
	display: none;
}
.overlay-mobile.active {
	background: #2D303A;
	opacity: 0.6;
	z-index: 3;
	height: calc(100% - 71px);
	width: calc(100% - 238px - 40px);
	position: fixed;
	right: 0%;
	top: calc(0% + 71px);
}
.mobile-active-menu {
	position: fixed;
	left: 0%;
	top: 0%;
	display: block;       
	width: 278px;
	height: 100vh;    
	background: #2D303A;    
	box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
	z-index: 4;
}    
.mobile-active-menu ul {
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 232px;
	padding-left: 71px;
	height: 263px;
}
.header__navigation ul li a {
	font-size: 24px;
}

.header__navigation ul li:not(:first-child)::before {
	content: "";
}
.slider__container{
	height: 220px;
}
.slider__img-vertical{
	background-image: url(./assets/phone-vertical-min.png);
	width: 88px;
	height: 177px;
}
.slider__img-horizontal{
	background-image: url(./assets/phone-horizontal-min.png);
	width: 177px;
	height: 88px;
}
.layout-3-column{
	justify-content: center;
}
.our-service{
	margin-right: 44px;
	padding: 7.5px 0px;
}
.our-service__img{
	padding-bottom: 45px;
}
.portfolio{
	border-bottom: none;
	padding-bottom: 37px;
}
.portfolio__container{
	margin-bottom: 0px;
}
.portfolio__container li::before{
	padding-top: 128px;
}
.portfolio .wrapper{
	padding: 0 25px;	
}
.portfolio__title{
	padding-top: 47px;
	padding-bottom: 21px;
}
.portfolio__container li{
	margin-right: 10px;
	margin-bottom: 10px;
	flex: 1 0 32%;
}
.portfolio__container li:nth-child(n+9){
	display: none;
}
.portfolio__container li{
	margin: 5px;
}
.about-us .wrapper{
	padding: 0px 15px 0px 30px;
}
.about-us__container{
	padding-bottom: 40px;
}
.about-us__title{
	padding-top: 38px;
	padding-bottom: 21px;
}
.about-us__content{
	flex-direction: column;
	align-content: center;
}
.about-us__content > div:nth-child(-n+2){
	margin-bottom: 31px;
}
.employee{
	width: 300px;
	padding-right: 15px;
	box-sizing: content-box;
}
.contact-us__register{
	flex-direction: column;
	justify-content: center;
}
.contact-us__form .submit{
	width: 100%;
	height: 50px;
}
.contact-us__form{
	margin-bottom: 32px;
}
.copy{
	display: none;
}
.footer__content{
	flex-direction: column;
}
.contact-us{
	border-bottom: none;
}

}


@media(max-width: 350px){
	.wrapper {
		padding: 0 23px;
	}	
	.about-us .wrapper{
		padding: 0px 15px 0px 23px;
	}
	.portfolio .wrapper{
		padding: 0 23px;	
	}	
}